* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #374151;
 }

.site-header {
  padding: 1rem;
  margin: 0 auto;
  max-width: 960px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.title-text {
   margin-bottom: 1rem;
   padding: 0;
   font-size: 2rem;
   font-weight: 300;
   align-self: start;
   color: #fff;
}

.add-new-to-do {
  display: flex;
  width: 100%;
  }

  input, button {
    border: none;
    background: none;
    appearance: none;
    outline: none;
    margin: 0 1rem;
  }

  #error {
    color: #fff;
  }

  button {
    background-image: linear-gradient(to right, #ec4899, purple);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.25rem;
    font-weight: 700;
    cursor: pointer;
  }

.add-new-to-do > #input-item {
  padding: 1rem 2rem;
  flex: 4 1 0%;
  border-radius: 5px;
  background: none;
  border: none;
  background:  #000;
  color: #fff;
  font-size: 1rem;
}

.add-new-to-do #input-item::placeholder {
  font-size: 1rem;
  
}

.add-new-to-do > #addtask {
  flex: 1 1 0%;
  background-image: linear-gradient(to right, #ec4899, purple);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.25rem;
  font-weight: 700;
  cursor: pointer;
  transition: 0.4s;
  text-transform: uppercase;
}

.To-do-list-section  {
  padding: 1rem;
  margin: 0 auto;
  max-width: 960px;
  width: 100%;
  box-shadow: 1px 1px 1px 1px #ccc;
}

.tasks {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
}

.task {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.task-content {
  display: flex;
  justify-content: space-between;
  flex: 7 1 0%;
  }

  .task-content .completed {
    margin: 4px 0;
    min-width: 30px;
    flex: 0 1 0%;
    height: auto;
    padding: 0 4px;
    border-radius: 5px;
    margin: 0 1rem;
    background: #fff;
    color: #000;
    justify-self: flex-start;
    display: block;
    }

.task-content .text {
  padding: 1rem 2rem;
  flex: 4 1 0%;
  border-radius: 5px;
  background:  #000;
  color: #fff;
  font-size: 1rem;
  display: block;
}

.task-content > input:not(:read-only) {
  color: #ec4899;
}

.action {
  flex: 1 1 100px;
  width: 20%;
  align-items: start;
  display: flex;
  justify-content: space-evenly;
  cursor: pointer;
  margin: 0;
  }

.edit, .deletebtn {
  padding: 1rem;
  background-image: linear-gradient(to right, #ec4899, purple);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  margin: 0 0.5rem;
  text-transform: uppercase;
}

.task .action  .deletebtn {
  color: crimson;
}

.task-status {
  display: flex;
  width: 100%;
  justify-content: center;
  opacity: 1;
  cursor: pointer;
}

@media (max-width: 500px) {
   .task {
    width: 100%;
   }

    .action {
     width: auto;
     justify-content: space-evenly;
     align-items: center;
   }

   .action > button {
    font-size: 0.9rem;
     margin: 10px 2px;
     padding: 0 4px;
   }
   
}
